#trails-sort {
	padding: 15px 0 30px 0;
	background-color: #fafafa;
	position: relative;

	.sort-list {
		margin-left: 20px;
	}

	.sort-item {
		font-size: 1.03125rem;
		letter-spacing: 0.6px;
		margin-right: 20px;
		background-color: #fff;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: $br-basic * 4;
		position: relative;
		cursor: pointer;
		@include transition-duration(0.2s);

		&:hover {
			background-color: $color-green;
			color: $color-white;
			border: 1px solid transparent;
		}

		&.active {
			background-color: $color-green;
			color: $color-white;
			border: 1px solid transparent;
		}

		> input {
			position: absolute;
			top: 10px;
			left: 10px;
			opacity: 0;
		}

		.fas {
			font-size: 1.125rem;
			font-weight: bold;
			padding-right: 5px;
		}
	}

	#mobile-confirm-sort-btn {
		display: none;
	}
}

@media screen and (max-width: 1025px) {
	#trails-sort {
		z-index: 200;
		transform: scale(0);
		@include transition-duration(0.25s);
		margin-top: 0 !important;
		background-color: transparent;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100vh;

		&.active {
			transform: scale(1);
		}

		.layer {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			min-height: 100vh;
			background-color: $color-black;
			opacity: 0.2;
			z-index: 199;
		}

		.wrap {
			width: 85% !important;
			min-height: 100vh;
			align-items: center;
			justify-content: center;
			z-index: 200;
			position: fixed;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
			display: flex;
		}

		.sorts {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			border-radius: $br-basic * 2;
			box-shadow: 0 4px 10px 2px rgba(100, 100, 100, 0.8);
			position: relative;
			padding-bottom: 50px;
			background-color: $color-white;
		}

		.sort-list {
			display: flex;
			flex-direction: column;
			margin: 20px;
		}

		.sort-item {
			margin-left: 0;
			margin: 5px;
			min-width: 110px;
		}

		#mobile-confirm-sort-btn {
			display: block;
			position: absolute;
			bottom: 20px;
		}
	}
}
