#trails-filter {
	margin-top: 60px;
	padding: 45px 0 15px 0;
	background-color: #fafafa;
	position: relative;

	.filters-container {
		padding: 15px 30px;
		border: $border-basic;
		border-radius: $br-basic;
		box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1);
		background-color: $color-white;
	}

	.filter-list-container {
		padding: 18px 0;
	}

	.filter-list {
		width: 100%;
	}

	.filter-title {
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 1px;
		position: relative;
		white-space: nowrap;
	}

	.filter-item {
		text-align: center;
		letter-spacing: 0.6px;
		padding: 3px 12px;
		margin-left: 30px;
		border: 1.2px solid transparent;
		border-radius: $br-basic;
		cursor: pointer;
		position: relative;

		&:hover {
			font-weight: 550;
			color: $color-dark-green;
			border: 1.2px solid $color-dark-green;
		}

		&.active {
			font-weight: 550;
			color: $color-dark-green;
			border: 1.2px solid $color-dark-green;
		}

		input {
			opacity: 0;
			position: absolute;
		}
	}

	#mobile-confirm-filter-btn {
		display: none;
	}
}

@media screen and (max-width: 1025px) {
	#trails-filter {
		z-index: 200;
		transform: scale(0);
		transition-duration: 0.25s;
		margin-top: 0 !important;
		background-color: transparent;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100vh;

		&.active {
			transform: scale(1);
		}

		.layer {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			min-height: 100vh;
			background-color: $color-black;
			opacity: 0.2;
			z-index: 199;
		}

		.wrap {
			width: 85% !important;
			min-height: 100vh;
			align-items: center;
			justify-content: center;
			z-index: 200;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
		}

		.filters-container {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			border-radius: $br-basic * 2;
			box-shadow: 0 4px 10px 2px rgba(100, 100, 100, 0.8);
			position: relative;
			padding-bottom: 70px;
		}

		.filter-list-container {
			padding: 18px 0;
			flex-direction: column;
			justify-content: center;
			align-items: initial;
			margin: 0 15px;
		}

		.filter-list {
			display: flex;
			flex-direction: column;
			margin-top: 20px;
		}

		.filter-title {
			left: 50%;
			transform: translateX(-30%);

			.filter-QustionBtn {
				position: absolute;
				top: 0;
				left: -30px;
			}
		}

		.filter-item {
			margin-left: 0;
			margin: 5px;
			min-width: 110px;
		}

		#mobile-confirm-filter-btn {
			display: block;
			position: absolute;
			bottom: 25px;
		}
	}
}

@media screen and (max-width: 750px) {
	#trails-filter {
		.filters-container {
			width: 100%;
			flex-wrap: wrap;
			padding: 15px;
		}

		.filter-list-container {
			padding: 5px 0;
			margin: 0 10px;
			width: calc(50% - 20px);
		}

		.filter-list {
			margin-top: 15px;
		}

		#mobile-confirm-filter-btn {
			position: static;
		}
	}
}
