/* Filter Sort Mobile controller*/
.mobile-show-filter-sort-btn {
	display: none;
}

.mobile-filter-sort-btn {
	display: none;
}

@media screen and (max-width: 1025px) {
	.mobile-show-filter-sort-btn {
		display: block;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		border-radius: $br-basic * 5 0 0 $br-basic * 5;
		height: 40px;
		position: fixed;
		bottom: 90px;
		right: 0;
		z-index: 199;
		transform: scale(1);
		transition-duration: 0.3s;

		&.hide {
			transform: scale(0);
		}

		.filter-container {
			display: inline-block;
			width: 45px;
			padding: 6px 10px 10px 13px;

			.line {
				height: 3px;
				background: $color-green;
				margin: 5px 0;
				border-radius: $br-basic;
			}

			.line:first-child {
				animation: filterline1 1s infinite;
			}

			.line:nth-child(2) {
				animation: filterline2 1s infinite;
			}

			.line:last-child {
				animation: filterline3 1s infinite;
			}
		}

		@keyframes filterline1 {
			0% {
				width: 20%;
			}
			50% {
				width: 80%;
			}
			100% {
				width: 20%;
			}
		}

		@keyframes filterline2 {
			0% {
				width: 10%;
			}
			50% {
				width: 30%;
			}
			75% {
				width: 70%;
			}

			100% {
				width: 10%;
			}
		}

		@keyframes filterline3 {
			0% {
				width: 30%;
			}
			25% {
				width: 100%;
			}
			50% {
				width: 50%;
			}
			100% {
				width: 30%;
			}
		}
	}

	.mobile-filter-sort-btn {
		display: flex;
		position: fixed;
		bottom: 90px;
		left: 50%;
		transform: translateX(-50%) scale(0);
		transition-duration: 0.2s;
		opacity: 0;
		z-index: 199;
		background-color: $color-white;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		border-radius: 20px;

		.show-filter-btn {
			border-right: 1px solid #ccc;
			padding: 12px 18px;
		}

		.show-sort-btn {
			padding: 12px 18px;
		}

		p {
			letter-spacing: 2px;
			color: $color-green;

			.fa-filter {
				font-size: 0.875rem;
				padding-right: 1px;
			}

			.fa-sort-amount-up-alt {
				font-size: 1.125rem;
				padding-right: 3px;
			}
		}

		&.active {
			opacity: 1;
			transform: translateX(-50%) scale(1);
		}
	}
}

@media screen and (max-width: 750px) {
	.mobile-filter-sort-btn {
		p {
			color: #444;
		}
	}
}
