#header {
	width: 100%;
	background-color: $color-white;
	box-shadow: 0 0.5px 3.5px rgba(0, 0, 0, 0.25);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	@include transition-duration(0.3s);

	&.hide {
		top: -60px;
	}

	.wrap {
		height: 60px;
	}
}

.header-logo {
	&.web {
		flex: none;
		width: 165px;
		cursor: pointer;
	}

	&.mobile {
		flex: none;
		width: 50px;
		cursor: pointer;
		display: none;
	}
}

.header-search-bar {
	margin-left: 10px;
	.search-bar {
		height: 40px;
		width: 350px;
		border: 1px solid #ccc;
		margin: 0;
		.search-icon {
			.fas {
				font-size: 1rem;
				width: 65px;
				height: 39px;
				line-height: 40px;
			}
		}

		.search-dropdown-box {
			top: 45px;
			box-shadow: 0 5px 12px 0.5px rgba(0, 0, 0, 0.15);
		}
	}
}

.header-nav {
	flex: auto;

	ul {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		li {
			display: flex;
			align-items: center;
			font-size: 1.03125rem;
			letter-spacing: 0.6px;
			margin: 10px 15px;
			padding: 18px 0;
			border: 4.5px solid transparent;
			cursor: pointer;
			@include transition-duration(0.2s);

			&:hover {
				color: #222;
				border-bottom: 4.5px solid $color-green;
			}

			.down-arrow-icon {
				position: absolute;
				top: 0px;
				right: -28px;
				width: 30px;
				@include transition-duration(0.1s);

				&.active {
					@include transform(rotate(180deg));
				}
			}
		}
	}

	.selected {
		li {
			color: #222;
			border-bottom: 4.5px solid $color-green;
		}
	}
}

.header-mobile-nav {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: $color-white;
	z-index: 200;
	box-shadow: 0 0.5px 3.5px rgba(0, 0, 0, 0.3);
	@include transition-duration(0.3s);

	&.hide {
		bottom: -60px;
	}

	ul {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		li {
			display: flex;
			flex-direction: column;
			justify-content: center;

			p {
				font-size: 0.375rem;
				padding-top: 3.5px;
			}

			.fas {
				font-size: 1.75rem;
				text-align: center;
			}

			.fa-mountain {
				font-size: 1.5rem;
				padding-bottom: 2px;
			}
		}

		.selected {
			li,
			p {
				color: $color-green;
			}
		}
	}

	#header-user-btn {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;

		img {
			width: 28px;
			height: 28px;
		}

		p {
			font-size: 0.375rem;
			padding-top: 3.5px;
			text-align: center;
			white-space: nowrap;
		}
	}
}

#header-user-btn {
	width: 35px;
	border-radius: 50%;
	margin-left: 30px;
	cursor: pointer;

	img {
		border-radius: 50%;
	}
}

#header-language-btn {
	position: relative;

	.language-options-box {
		min-width: 100px;
		background-color: $color-white;
		box-shadow: 0 0 10px 2.5px rgba(100, 100, 100, 0.3);
		border-radius: $br-basic;
		flex-direction: column;
		position: absolute;
		top: 33px;
		right: -23px;
		z-index: 2;
		display: none;

		&::before {
			content: "";
			display: block;
			border-color: transparent transparent $color-white;
			border-style: solid;
			border-width: 8px;
			position: absolute;
			top: -14.5px;
			right: 1px;
		}

		p {
			font-size: 0.84375rem;
			padding: 10px 15px;
			margin: 5px;

			&:hover {
				background-color: $color-dark-white;
			}
		}

		&.active {
			display: block !important;
		}
	}
}

@media screen and (max-width: 1140px) {
	#header {
		.wrap {
			width: 90% !important;
		}
	}
}

@media screen and (max-width: 992px) {
	.header-logo {
		&.web {
			display: none;
		}
		&.mobile {
			display: block;
		}
	}
}

@media screen and (max-width: 768px) {
	#header {
		.wrap {
			justify-content: center;
		}
	}

	.header-nav {
		display: none;
	}

	.header-mobile-nav {
		display: block;
	}

	.header-search-bar {
		width: 100%;
		.search-bar {
			width: 100%;
		}
	}
}
