#home {
	width: 100%;
	height: 100%;
	margin-top: 60px;

	.home-banner {
		width: 100%;
		max-height: 660px;
		position: relative;
		overflow: hidden;

		.layer {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(90deg, #333 5%, transparent 45%);
			opacity: 0.5;
		}

		.home-content {
			position: absolute;
			top: calc(45%);
			left: calc(10% + 19px);
			transform: translateY(-45%);
			color: $color-white;

			h2 {
				font-size: 2.25rem;
				font-weight: 600;
				letter-spacing: 1.5px;
				line-height: 1.5;
				color: $color-white;
				margin: 5px 0;
			}

			p {
				font-size: 1rem;
				font-weight: 400;
				letter-spacing: 1px;
			}
		}

		.home-btn-container {
			#home-btn {
				font-size: 1.125rem;
				font-weight: 400;
				padding: 10px 15px;
				margin-right: 15px;
				letter-spacing: 1px;
				background-color: transparent;
				border: 1.5px solid $color-white;
				border-radius: $br-basic * 2;

				&:hover {
					box-shadow: inset 0 0 10px 5px rgba($color: $color-white, $alpha: 0.2);
				}
			}
		}
	}

	.home-web-intro {
		width: 100%;
		background-color: #fcfcfc;
		padding: 60px 30px;

		.wrap {
			width: 80%;
			padding: 30px 40px;
			justify-content: space-around;
			margin: 0 auto;
			border: 1.5px solid #999;
			border-radius: $br-basic;

			.intro-item {
				display: flex;
				align-items: center;
				color: #666;
				padding: 10px 20px;

				.icon {
					font-size: 42px;
					color: $color-green;
					padding-right: 10px;
					opacity: 0.8;
				}

				.description {
					font-size: 1.125rem;
					line-height: 1.3;
					letter-spacing: 1px;
				}
			}
		}
	}

	.home-top {
		padding: 20px 0;
		.home-top-title {
			font-size: 1.4rem;
			font-weight: 700;
			line-height: 1.5;
			margin-top: 30px;
			margin-bottom: 20px;

			.fas {
				font-size: 1.75rem;
				color: $color-black;
				padding-right: 5px;
			}
		}

		.home-top-list {
			justify-content: space-between;

			.home-top-item {
				width: 25%;
				margin: 0 6px;
				height: 270px;
				background-position: 50%;
				background-size: cover;
				border-radius: $br-basic * 2;
				position: relative;
				overflow: hidden;
				@include transition-duration(0.4s);
				cursor: pointer;

				&:hover {
					width: 45%;

					.content {
						bottom: 30px;
					}

					.tag {
						bottom: 3px;
						opacity: 1;
					}
				}

				.layer {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(transparent 65%, rgba(0, 0, 0, 0.7));
					border-radius: 0 0 4px 4px;
				}

				.content {
					position: absolute;
					bottom: 0;
					left: 0;
					padding: 10px 10px 15px;
					@include transition-duration(0.45s);
					h3 {
						font-size: 1.125rem;
						color: $color-white;
						letter-spacing: 1.2px;
					}
				}

				.tag {
					display: flex;
					position: absolute;
					bottom: -70px;
					left: 0;
					color: $color-white;
					padding: 5px 10px;
					opacity: 0;
					@include transition-duration(0.45s);

					> div {
						font-size: 0.875rem;
						padding: 5px 8px;
						margin-right: 10px;
						border: 1px solid $color-white;
						border-radius: $br-basic * 2;
						box-shadow: inset 0 0 10px 3px rgba($color: $color-white, $alpha: 0.35);
					}
				}
			}
		}
	}

	.home-trail-list {
		padding: 20px 0;

		.title {
			font-size: 1.35rem;
			font-weight: 700;
			line-height: 1.5;
			margin-top: 30px;
			margin-bottom: 10px;

			.fas {
				font-size: 1.375rem;
				color: $color-black;
				padding-right: 5px;
			}
		}

		.like-rank {
			.trails-list {
				width: 100%;
				.trail-item {
					.trail-detail {
						h3 {
							font-size: 1.125;
						}
						p {
							font-size: 13px;
							padding: 5px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1750px) {
	#home {
		.home-banner {
			.home-content {
				left: 18.5vw;
			}
		}
	}
}
