#login {
	width: 100%;
	min-height: 800px;
	margin-top: 60px;
	margin-bottom: 0;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #fafafa;

	.wrap {
		width: 100%;
		height: 100%;
	}

	.login-container {
		width: 100%;
		height: 100%;
		justify-content: center;
		position: relative;

		.login-panel-wrap {
			position: static;
			width: 0;
			height: 0;
			z-index: 99;

			.layer {
				position: static;
				display: none;
			}

			.close-btn {
				display: none;
			}
		}

		.login-sign-in-panel,
		.login-sign-up-panel {
			width: 330px;
			min-height: 450px;
			background-color: $color-white;
			box-shadow: 0 0 17px rgba(0, 0, 0, 0.24);
			padding-bottom: 30px;
			border-radius: 5px;
			position: absolute;
			top: 1%;
			left: 20%;
			z-index: 1;
			opacity: 0.9;
			transform: rotate3d(0, 1, 0, 180deg);
			transition-duration: 0.5s;

			&.active {
				opacity: 1;
				z-index: 2;
				transform: rotate3d(0, 0, 0, 180deg);
			}
		}
	}

	.login-bg {
		order: 1;
		width: 630px;
		height: 430px;
		border-radius: $br-basic;
		background-image: url(https://firebasestorage.googleapis.com/v0/b/meet-trail-right.appspot.com/o/projectPictures%2Flogin-bg%20.jpg?alt=media&token=724c3389-11b6-4eac-9e31-19e991ad360f);
		background-position: center;
		background-size: cover;
		box-shadow: 0 0 17px rgba(0, 0, 0, 0.24);
		position: relative;
		top: 50px;
		left: 13%;

		.layer {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: $color-white;
			opacity: 0.15;
		}
	}
}

@media screen and (max-width: 991px) {
	#login {
		.login-bg {
			top: -80px;
			left: 0;
			width: 992px;
			height: 800px;
			filter: blur(3px);
			transform: scale(1.05);
			position: absolute;
		}
		.login-container {
			.login-sign-in-panel,
			.login-sign-up-panel {
				width: 320px;
				top: 190px;
				left: 50%;
				transform: translate(-50%, -50%) rotate3d(0, 1, 0, 180deg);

				&.active {
					opacity: 1;
					z-index: 2;
					transform: translate(-50%, -50%) rotate3d(0, 0, 0, 180deg);
				}
			}
		}
	}
}
