#footer {
	position: relative;
	bottom: 0;
	left: 0;
	background-color: $color-black;
	z-index: 99;
	.wrap {
		height: 250px;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}

.footer-info {
	width: 100%;
	justify-content: space-around;
	padding: 50px;

	p {
		font-size: 1rem;
		letter-spacing: 1px;
		color: #ccc;
		text-align: left;
	}

	ul {
		justify-content: flex-start;

		li {
			margin: 20px 10px 0 0;
			cursor: pointer;

			a {
				font-size: 0.825rem;
				letter-spacing: 0.6px;
				color: $color-dark-white;

				&:hover {
					color: $color-white;
				}

				.fab {
					font-size: 1.5rem;
				}
			}
		}
	}
}

.footer-copyright {
	display: block;
	font-size: 0.75rem;
	color: $color-dark-white;
	margin-bottom: 30px;
}
