.youtube-list {
	width: 100%;
	justify-content: flex-start;
	align-items: stretch;
	overflow-x: hidden;
	position: relative;
	padding-bottom: 13.5px;

	&:hover {
		overflow-x: scroll;
		padding-bottom: 10px;
	}

	&::-webkit-scrollbar {
		height: 3.5px;
		background-color: #fafafa;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: $br-basic * 4;
		background-color: $color-light-green;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: $color-green;
	}

	&::-webkit-scrollbar-thumb:active {
		background-color: $color-green;
	}
}

.youtube-item {
	width: calc(33.333% - 20px);
	flex: none;
	box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
	border-bottom: 6px solid $color-blue;
	border-radius: $br-basic;

	.video-container {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		width: 100%;
		overflow: hidden;
		border-radius: $br-basic;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.video-content {
		font-size: 0.875rem;
		letter-spacing: 0.6px;
		line-height: 1.5;
		padding: 15px;

		img {
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
			margin-right: 10px;
		}

		.video-title {
			font-size: 0.9375rem;
			font-weight: 600;
			color: $color-black;
		}

		.channel-title {
			color: $color-grey;
			margin: 10px 30px 10px 40px;
		}
	}
}

@media screen and (max-width: 1025px) {
	.youtube-item {
		width: calc(33.3% + 35px);
	}
}

@media screen and (max-width: 768px) {
	.youtube-item {
		width: calc(33.3% + 25px);
	}
}

@media screen and (max-width: 595px) {
	.youtube-item {
		width: calc(50% + 25px);
	}
}

@media screen and (max-width: 416px) {
	.youtube-list {
		padding-left: 10px;
	}
	.youtube-item {
		width: calc(100% - 150px);
		box-shadow: 0 1.5px 6px 1.5px rgba(0, 0, 0, 0.25);
	}
}
