.skeleton-container {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;

  .skeleton-item {
    width: calc(25% - 30px);
    border-radius: $br-basic * 2;
    margin: 20px 15px;
    overflow: hidden;
    box-shadow: 0px 4px 15px 1.5px rgba($color: $color-black, $alpha: 0.15);

    .wave {
      &::after {
        animation-delay: 0s;
      }
    }
  }

  .skeleton-img {
    height: 12vw;
    > span {
      background-color: #ebebeb;
    }
  }

  .skeleton-content {
    padding: 10px 15px;

    > span {
      background-color: #ebebeb;
      margin: 10px;
    }
  }
}

@media screen and (max-width: 1430px) {
  .skeleton-container {
    .skeleton-item {
      width: calc(33.3% - 30px);
    }
    .skeleton-img {
      height: 16.5vw;
    }
  }
}

@media screen and (max-width: 992px) {
  .skeleton-container {
    .skeleton-item {
      width: calc(50% - 30px);
    }

    .skeleton-img {
      height: 27.5vw;
    }
  }
}

@media screen and (max-width: 655px) {
  .skeleton-container {
    .skeleton-item {
      width: calc(100% - 15px);
    }

    .skeleton-img {
      height: 60.5vw;
    }
  }
}
