/* Basic color */
$color-white: #fff;
$color-dark-white: #eee;
$color-black: #333;
$color-grey: #666;
$color-light-grey: #aaa;
$color-red: #d50000;

/* Brand color */
$color-light-green: #4fd189;
$color-green: #23b280;
$color-dark-green: #1e966c;
$color-blue: #52cbd4;

/* Border */
$br-basic: 4px;
$border-basic: 0.5px solid #aaa;

/* Font */
$font-color-basic: #555;
$font-family: 'Noto Sans TC', 'Microsoft JhengHei', 'sans-serif';
