@import "../../../../styles/common.scss";

.basic-info-description {
	color: $color-grey;
	padding: 0 30px;
	line-height: 1.4;
	letter-spacing: 0.6px;
}

.basic-info-list {
	justify-content: flex-start;
	font-size: 1.25rem;
	margin: 30px;

	.top-left {
		width: 50%;
	}
}

.basic-info-list {
	.basic-info-item {
		margin: 15px;
	}
	.subtitle {
		font-weight: bold;
		margin-right: 10px;
		position: relative;

		&::before {
			content: "";
			display: block;
			border-style: solid;
			border-width: 8px;
			border-color: transparent transparent transparent $color-blue;
			position: absolute;
			left: -15px;
			top: 3px;
		}
	}
}
