.youtube-list {
	width: 100%;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: scroll;
}

.youtube-item {
	flex: none;
	align-items: flex-start;
	border-radius: $br-basic;
	position: relative;
	padding-top: 30px;
	padding-bottom: 30%;
	height: 0;
	width: calc(33.333% - 20px);
	margin: 10px;
	overflow: hidden;
	box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.1);

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.title {
		position: absolute;
		top: 65%;
		font-size: 0.875rem;
		color: $color-grey;
		line-height: 1.5;
		letter-spacing: 0.6px;
		text-align: left;
		padding: 10px 15px;
	}
}
