@import "../../../../styles/common.scss";

#trail-detail__top-info {
	margin-top: 90px;
	background-color: $color-white;
}

.top-info__header {
	margin: 30px;

	h1 {
		flex: none;
		font-size: 2rem;
		font-weight: bold;
		letter-spacing: 1.2px;
		color: $color-black;
	}
}

.top-info__pic-and-report {
	align-items: stretch;
	justify-content: center;
}

.top-info__pic {
	flex: none;
	width: 55%;
	min-width: 500px;
}

.top-info__report {
	flex: auto;
	width: 40%;
	background-color: #f6f6f6;
	margin-left: 20px;
	border-radius: 4px;
	box-shadow: 0 0 16px 1.5px rgba(0, 0, 0, 0.1);
}

.report-title {
	border-bottom: 0.5px solid #aaa;
	margin: 25px 30px 10px 65px;

	h4 {
		font-size: 1.25rem;
		font-weight: 550;
		letter-spacing: 1px;
		padding-bottom: 20px;
		color: $color-black;
		position: relative;

		i {
			font-size: 1.25rem;
			color: $color-blue;
			position: absolute;
			top: 1px;
			left: -33px;
		}
	}

	p {
		font-size: 0.875rem;
		font-weight: 550;
		letter-spacing: 1px;
		text-align: center;
		padding: 0 0 20px 10px;
	}
}

.report-list {
	height: 265px;
	margin: 0 20px;
	overflow: scroll;
	border-bottom: $border-basic;
}

.report-info {
	div {
		margin: 10px;
		font-size: 0.875rem;
	}

	.report-user-img {
		width: 25px;

		img {
			border-radius: 50%;
		}
	}
}

.report-content {
	font-size: 0.875rem;
	margin: 0 25px;
	padding: 5px 15px;
	background-color: $color-white;
	letter-spacing: 0.6px;
	line-height: 1.5;
	border: $border-basic;
	border-radius: $br-basic * 3;
	border-top-left-radius: 0;
}

.report-btn {
	display: block;
	margin: 20px auto;
	text-align: center;
}

@media (max-width: 1200px) {
	.report-list {
		height: 190px;
	}
}
