@import "../../../../../styles/common.scss";

.weather-list {
	margin: 30px 0;
	padding: 20px;
	border: $border-basic;
	border-radius: 4px;
	background-color: $color-white;
}

.weather-item ~ .weather-item {
	margin-left: 25px;
}

.weather-date-and-day {
	color: $color-black;
	justify-content: space-evenly;
}

.weather-temperature {
	text-align: center;
	letter-spacing: 1px;
	margin: 10px;
}

.weather-status {
	text-align: center;
	letter-spacing: 1px;
}
