@import '../../../common.css';

#trail-detail__top-info {
    margin-top: 90px;
    background-color: #fff;
}

.top-info__header {
    margin: 30px;
}

.top-info__header h1 {
    flex: none;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #333;
}

.top-info__pic-and-report {
    align-items: stretch;
    justify-content: center;
}

.top-info__pic {
    flex: none;
    width: 55%;
    min-width: 500px;
}

.top-info__report {
    flex: auto;
    width: 40%;
    background-color: #f6f6f6;
    margin-left: 20px;
    border-radius: 3px;
    box-shadow: 0 0 16px 1.5px rgba(0, 0, 0, 0.1);
}

.report-title {
    justify-content: center;
    text-align: center;
    border-bottom: 0.5px solid #aaa;
    margin: 25px 30px 10px 30px;
}

.report-title h2 {
    font-size: 1.25rem;
    font-weight: 550;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 20px;
    color: #333;
}

.report-title p {
    font-size: .875rem;
    font-weight: 550;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 0 20px 15px;
}

.report-list {
    height: 265px;
    margin: 0 20px;
    overflow: scroll;  
    border-bottom: 0.5px solid #aaa;
}

.report-info div {
    margin: 10px;
    font-size: .875rem
}

.report-info .report-user-img {
    width: 25px;
}

.report-info .report-user-img img{
    border-radius: 50%;
}

.report-content {
    font-size: .875rem;
    margin: 0 25px;
    padding: 5px 15px;
    background-color: #fff;
    letter-spacing: 0.6px;
    line-height: 1.5;
    border: 0.5px solid #ddd;
    border-radius: 22px;
    border-top-left-radius: 3px;
}

.report-btn {
    display: block;
    margin: 20px auto;
    text-align: center;
}

@media (max-width: 1200px) { 
    .report-list {
        height: 190px;
    }
 }
