#profile {
	width: 100%;
	min-height: 800px;
	margin-top: 60px;
	margin-bottom: 0;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fafafa;

	.wrap {
		width: 100%;
		height: 100%;
		align-items: flex-start;

		.profile-aside {
			width: 25%;
			font-size: 1rem;
			padding: 0 15px;

			.profile-aside-user,
			.profile-aside-menu {
				background-color: $color-white;
				border-radius: $br-basic;
				box-shadow: 0 0 5px 0 rgba($color: $color-black, $alpha: 0.1);
			}

			.profile-aside-user {
				padding: 10px;
				margin-bottom: 15px;

				.user-img {
					padding: 10px;
					position: relative;

					.upload-img {
						width: 120px;
						height: 120px;
						font-weight: bold;
						text-align: center;
						line-height: 120px;
						border-radius: 50%;
						display: block;
						position: absolute;
						left: 26.5%;
						cursor: pointer;
						background-color: $color-white;
						color: #111;
						letter-spacing: 1px;
						opacity: 0;
						@include transition-duration(0.2s);

						&:hover {
							opacity: 0.6;
						}
					}

					img {
						width: 120px;
						height: 120px;
						border-radius: 50%;
						margin: 0 auto;
						display: block;
					}

					input {
						position: absolute;
						top: 50px;
						left: 0;
						opacity: 0;
						width: 10px;
					}
				}

				.user-name,
				.user-status {
					text-align: center;
					p {
						font-size: 1rem;
						font-weight: bold;
						padding: 10px;
						letter-spacing: 1px;
					}
				}

				.user-name {
					color: #111;
				}
			}

			.profile-aside-menu {
				ul {
					padding: 10px;

					li {
						letter-spacing: 1px;
						display: flex;
						padding: 15px;

						.fas {
							color: #666;
							padding-right: 10px;
						}

						&:hover {
							border-radius: $br-basic;
							background-color: #f4fff8;
						}

						&.active {
							color: $color-green;
							@include transition-duration(0.2s);
						}

						&.active .fas {
							color: $color-green;
							@include transition-duration(0.2s);
						}
					}
				}

				#sign-out-btn {
					font-size: 1rem;
					color: #666;
					border: none;
					border-top: 1px solid #eee;
					width: 100%;
					justify-content: center;
					padding: 10px;
					cursor: pointer;
					@include transition-duration(0.2s);

					&:hover {
						color: #333;
					}
				}
			}
		}

		.profile-main {
			width: 80%;
			background-color: $color-white;
			padding: 30px;
			box-shadow: 0 0 5px 0 rgba($color: $color-black, $alpha: 0.1);

			h2 {
				font-size: 1.75rem;
				color: #333;
				letter-spacing: 1px;
				padding-bottom: 20px;
				border-bottom: 1px solid #eee;
			}

			.num-list {
				font-size: 1rem;
				font-weight: 500;
				padding: 20px 10px;
				letter-spacing: 0.6px;

				span {
					font-weight: bold;
					color: $color-green;
				}
			}

			.empty-list {
				flex-direction: column;
				justify-content: center;
				.empty-img {
					width: 250px;
					height: 250px;
					margin: 0 auto;
				}

				.empty-word {
					color: #777;
					letter-spacing: 0.6px;
					position: relative;
					top: -40px;
					text-align: center;
				}
			}
		}
	}
}

.like-list {
	.wrap {
		width: 100% !important;
	}

	.like-item-container {
		justify-content: flex-start;
		align-items: stretch;
		box-shadow: 0 0 3px 0 rgba($color: $color-black, $alpha: 0.2);
		border-radius: $br-basic * 2;
		overflow: hidden;
		margin-bottom: 25px;
		position: relative;
		top: 0px;
		left: 0px;
		cursor: pointer;
		transform: scale(1);
		@include transition-duration(0.3s);

		&:hover {
			transform: scale(1.02);
			box-shadow: 0 0 10px 1px rgba($color: $color-black, $alpha: 0.15);
		}

		.like-item-img {
			flex: none;
			width: 300px;
			height: 200px;
			img {
				width: 100%;
				height: 100%;
			}
		}

		.like-item-info {
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			padding: 15px 30px;

			.title {
				flex: none;
				> h3 {
					font-weight: bold;
					letter-spacing: 1.2px;
					padding: 10px 0;
				}
			}

			p,
			span {
				font-size: 0.875rem;
				color: $color-grey;
				padding: 10px 5px;

				.fas,
				.far {
					font-size: 0.75rem;
					color: $color-grey;
					padding-right: 5px;
				}

				.fa-map {
					font-size: 12px;
				}
			}

			.description {
				flex: auto;
				font-size: 1rem;
				line-height: 1.4;
				letter-spacing: 0.6px;
			}

			.like-item-subcontainer {
				flex: none;
				justify-content: space-around;

				> div {
					padding-right: 30px;
				}

				> div:first-child {
					padding-left: 8px;
				}

				.scenery-list {
					> span {
						border: 1px solid #ccc;
						border-radius: $br-basic;
						margin-left: 10px;
						padding: 3px 5px;
					}
				}
			}
		}
	}
}

.report-list {
	.wrap {
		width: 100% !important;
	}
	.report-item-container {
		margin-bottom: 15px;
		padding: 10px;
		border-radius: $br-basic * 1;
		border: 1px solid #ddd;
		cursor: pointer;
		@include transition-duration(0.25s);

		&:hover {
			border: 1px solid $color-green;
		}

		.report-item {
			justify-content: flex-start;

			.icon {
				flex: none;
				padding-right: 10px;
			}

			.time {
				flex: none;
				font-size: 0.875rem;
				padding: 0 10px;
			}

			.title {
				flex: none;
				padding: 0 10px;
				letter-spacing: 1px;
				border-right: 1px solid #ccc;
			}

			.content {
				flex: 1;
				color: #666;
				padding: 0 10px;
				letter-spacing: 0.6px;
				line-height: 1.2;
			}
		}
	}
}

.create-list {
	.wrap {
		width: 100%;
		flex-wrap: wrap;
	}

	.create-item {
		width: calc(18vw);
		height: 12vw;
		margin: 0 10px 15px 10px;
		border-radius: $br-basic * 2;
		box-shadow: 0 0 6px 0 rgba($color: $color-black, $alpha: 0.3);
		overflow: hidden;
		position: relative;
		cursor: pointer;

		&:hover {
			.layer {
				box-shadow: inset 0 0 30px 150px rgba($color: $color-black, $alpha: 0.3);
			}
			.btn-container {
				opacity: 1;
			}
		}

		.img {
			width: 100%;
			height: 100%;
			border-radius: $br-basic * 2;
			position: relative;

			.layer {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.85));
				opacity: 0.6;
				@include transition-duration(0.4s);
			}

			.title {
				font-size: 1.375rem;
				font-weight: bold;
				letter-spacing: 1px;
				color: $color-white;
				position: absolute;
				bottom: 15px;
				left: 15px;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}

		.btn-container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			@include transition-duration(0.4s);

			button {
				font-size: 1.15rem;
				border-radius: $br-basic;
				border-color: transparent;
				color: #444;
				background-color: $color-white;
				letter-spacing: 1px;
				padding: 5px 10px;
				cursor: pointer;
				@include transition-duration(0.3s);

				&:hover {
					background-color: #24b582;
					color: $color-white;
					opacity: 1;
				}
			}

			#go-to-trail {
				margin-bottom: 15px;
			}
		}
	}
}
