#profile {
	width: 100%;
	min-height: 800px;
	margin-top: 50px;
	margin-bottom: -20px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fafafa;

	.wrap {
		align-items: flex-start;
		position: relative;

		.profile-aside {
			width: 22%;
			min-width: 250px;
			height: auto;
			flex: none;
			font-size: 1rem;
			padding: 0 15px 30px 15px;
			position: relative;

			.profile-panel {
				position: fixed;

				.profile-aside-user,
				.profile-aside-menu {
					background-color: $color-white;
					border-radius: $br-basic;
					box-shadow: 0 0 5px 0 rgba($color: $color-black, $alpha: 0.1);
				}

				.profile-aside-user {
					padding: 10px;
					margin-bottom: 15px;

					.user-img {
						padding: 10px;
						position: relative;

						.upload-img {
							width: 120px;
							height: 120px;
							font-weight: bold;
							text-align: center;
							line-height: 120px;
							border-radius: 50%;
							display: block;
							position: absolute;
							left: 50%;
							@include transform(translateX(-50%));
							cursor: pointer;
							background-color: $color-white;
							color: #111;
							letter-spacing: 1px;
							opacity: 0;
							@include transition-duration(0.2s);

							&:hover {
								opacity: 0.6;
							}
						}

						img {
							width: 120px;
							height: 120px;
							border-radius: 50%;
							margin: 0 auto;
							display: block;
						}

						input {
							position: absolute;
							top: 50px;
							left: 0;
							opacity: 0;
							width: 10px;
						}
					}

					.user-name,
					.user-status {
						text-align: center;
						p {
							font-size: 1rem;
							font-weight: bold;
							line-height: 1.2;
							padding: 10px;
							letter-spacing: 1px;
							white-space: nowrap;
						}
					}

					.user-name {
						color: #111;
					}
				}

				.profile-aside-menu {
					ul {
						padding: 10px;

						li {
							letter-spacing: 1px;
							display: flex;
							padding: 15px;

							.fas {
								color: #666;
								padding-right: 10px;
							}

							&:hover {
								border-radius: $br-basic;
								background-color: #f4fff8;
							}

							&.active {
								color: $color-green;
								@include transition-duration(0.2s);
							}

							&.active .fas {
								color: $color-green;
								@include transition-duration(0.2s);
							}
						}
					}

					#sign-out-btn {
						font-size: 1rem;
						color: #666;
						border: none;
						border-top: 1px solid #eee;
						background-color: $color-white;
						width: 100%;
						justify-content: center;
						padding: 10px;
						cursor: pointer;
						@include transition-duration(0.2s);

						&:hover {
							color: #333;
						}
					}
				}
			}
		}

		.profile-main {
			position: relative;
			flex: auto;
			width: 83%;
			background-color: $color-white;
			padding: 30px;
			box-shadow: 0 0 5px 0 rgba($color: $color-black, $alpha: 0.1);

			h2 {
				font-size: 1.75rem;
				color: #333;
				letter-spacing: 1px;
				padding-bottom: 20px;
				border-bottom: 1px solid #eee;
			}

			.num-list {
				font-size: 1rem;
				font-weight: 500;
				padding: 20px 10px;
				letter-spacing: 0.6px;

				span {
					font-weight: bold;
					color: $color-green;
				}
			}

			.empty-list {
				flex-direction: column;
				justify-content: center;
				.empty-img {
					width: 250px;
					height: 250px;
					margin: 0 auto;
				}

				.empty-word {
					color: #777;
					letter-spacing: 0.6px;
					position: relative;
					top: -40px;
					text-align: center;
				}
			}
		}
	}
}

@media screen and (max-width: 1140px) {
	#profile {
		> .wrap {
			width: 90%;
		}
	}
}

@media screen and (max-width: 1024px) {
	#profile {
		.wrap {
			flex-direction: column;

			.profile-aside {
				width: 100%;
				height: auto;
				padding: 0;

				.profile-panel {
					position: static;
				}
			}

			.profile-main {
				width: 100%;
				margin-top: 15px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	#profile {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 715px) {
	#profile {
		margin-top: 30px;
		> .wrap {
			width: 100%;
		}
	}
}

/* Like */
.like-list {
	.wrap {
		width: 100% !important;
	}

	.like-item-container {
		justify-content: flex-start;
		align-items: stretch;
		box-shadow: 0 0 3px 0 rgba($color: $color-black, $alpha: 0.2);
		border-radius: $br-basic * 2;
		overflow: hidden;
		margin-bottom: 25px;
		position: relative;
		top: 0px;
		left: 0px;
		cursor: pointer;
		transform: scale(1);
		@include transition-duration(0.3s);

		&:hover {
			transform: scale(1.02);
			box-shadow: 0 0 10px 1px rgba($color: $color-black, $alpha: 0.15);
		}

		.like-item-img {
			flex: none;
			width: 300px;
			height: 200px;
			img {
				width: 100%;
				height: 100%;
			}
		}

		.like-item-info {
			width: 100%;
			justify-content: flex-end;
			align-items: flex-start;
			flex-direction: column;
			padding: 15px 20px;

			.title {
				width: 100%;
				flex: none;
				> h3 {
					font-size: 1.5rem;
					font-weight: bold;
					letter-spacing: 1.2px;
					padding: 10px 0;
					flex: none;
					white-space: nowrap;
				}

				.like-button {
					flex: auto;
					text-align: right;
					margin: 10px;
				}
			}

			p,
			span {
				font-size: 1rem;
				color: $color-grey;
				padding: 10px 5px;

				.fas,
				.far {
					font-size: 0.75rem;
					color: $color-grey;
					padding-right: 5px;
				}

				.fa-map {
					font-size: 12px;
				}
			}

			.description {
				flex: none;
				font-size: 1rem;
				line-height: 1.5;
				letter-spacing: 0.6px;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			.like-item-subcontainer {
				flex: auto;
				justify-content: space-around;

				> div {
					padding-right: 15px;
				}

				> div:first-child {
					padding-left: 8px;
				}

				.time,
				.location,
				.scenery-list {
					p,
					span {
						white-space: nowrap;
					}
				}

				.scenery-list {
					flex-wrap: nowrap;
					white-space: nowrap;

					> div > span {
						border: 1px solid #ccc;
						border-radius: $br-basic;
						margin-left: 10px;
						padding: 3px 5px;
						white-space: nowrap;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1430px) {
	.like-list {
		.wrap {
			.like-item-container {
				.like-item-info {
					padding: 10px 20px;
					.title {
						> h3 {
							font-size: 1.2rem;
						}
					}
					.description {
						font-size: 0.875rem;
					}
				}
			}

			.like-item-subcontainer {
				width: 100%;
				align-items: center;
				justify-content: space-evenly;
				font-size: 0.75rem !important;

				.time,
				.location,
				.scenery-list {
					p,
					span {
						font-size: 0.75rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1330px) {
	.like-list {
		.wrap {
			.like-item-container {
				.like-item-img {
					width: 200px;
					height: 160px;
				}
			}
		}
	}
}

@media screen and (max-width: 1025px) {
	.like-list {
		.wrap {
			.like-item-container {
				&:hover,
				&:active {
					transform: scale(0.98);
					box-shadow: 0 0 5px 0.5px rgba($color: $color-black, $alpha: 0.15);
				}
			}

			.like-item-subcontainer {
				padding-top: 5px;
			}
		}
	}
}

@media screen and (max-width: 825px) {
	.like-list {
		.wrap {
			.like-item-container {
				.like-item-subcontainer {
					.scenery-list {
						> div {
							> span {
								border: none;
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.like-list {
		.wrap {
			width: 100% !important;
			.like-item-container {
				flex-direction: row;
				margin-bottom: 10px;

				.like-item-img {
					max-width: 220px;
				}

				.like-item-info {
					padding-right: 0;

					.title {
						flex: none;

						> h3 {
							font-size: 1.125rem;
						}
					}

					.description {
						display: none;
					}

					.like-button {
						margin: 0;
						margin-right: 10px;
					}
				}

				.like-item-subcontainer {
					flex-direction: column !important;
					align-items: flex-start;

					> div:first-child {
						padding-left: 0px;
					}

					.time,
					.location,
					.scenery-list {
						p,
						span {
							font-size: 0.875rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.like-list {
		.wrap {
			a {
				width: 100%;
				margin: 0;
				margin-right: 5px;
			}

			.like-item-container {
				.like-item-img {
					flex: none;
					width: 120px;
					height: 93px;
				}

				.like-item-info {
					padding: 3px 5px;
					.title {
						> h3 {
							font-size: 0.8125rem !important;
							padding: 5px 0 5px 5px;
						}
					}
					.like-button {
						position: absolute;
						right: 5px;
						top: 5px;
						margin: 5px;
						.fa-heart {
							padding: 7.5px;
						}
					}
				}

				.like-item-subcontainer {
					padding-left: 5px;
					.time,
					.location,
					.scenery-list {
						padding: 2px 0;

						.far,
						.fas {
							padding-right: 3px;
						}

						p,
						span {
							padding: 2px 0;
							font-size: 0.625rem !important;
						}
					}

					.scenery-list {
						> div {
							> span {
								margin: 0;
								margin-right: 3px;
							}
						}
					}
				}
			}
		}
	}
}

.report-list {
	.wrap {
		width: 100% !important;
	}
	.report-item-container {
		margin-bottom: 15px;
		padding: 10px;
		border-radius: $br-basic * 1;
		border: 1px solid #ddd;
		cursor: pointer;
		@include transform(scale(1));
		@include transition-duration(0.25s);

		&:hover {
			border: 1px solid $color-green;
		}

		&:active {
			border: 1px solid $color-green;
			@include transform(scale(0.99));
		}

		.report-item {
			justify-content: flex-start;

			.icon {
				flex: none;
				padding-right: 10px;
			}

			.time {
				flex: none;
				font-size: 0.875rem;
				padding: 0 10px;
			}

			.title {
				flex: none;
				padding: 0 10px;
				letter-spacing: 1px;
				border-right: 1px solid #ccc;
			}

			.content {
				flex: 1;
				color: #666;
				padding: 0 10px;
				letter-spacing: 0.6px;
				line-height: 1.2;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

@media screen and (max-width: 715px) {
	.report-list {
		.report-item-container {
			.report-item {
				flex-direction: column;
				align-items: flex-start;

				.report-item-subcontainer {
					padding-bottom: 10px;
					padding-left: 10px;

					.title {
						font-weight: bold;
						border-right: none;
					}
				}

				.content {
					white-space: normal;
					line-height: 1.2;
					color: #777;
				}
			}
		}
	}
}

.create-list {
	.wrap {
		width: 100%;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	.create-item {
		width: calc(17vw);
		height: 12vw;
		margin: 0 10px 15px 10px;
		border-radius: $br-basic * 2;
		box-shadow: 0 0 6px 0 rgba($color: $color-black, $alpha: 0.3);
		overflow: hidden;
		position: relative;
		cursor: pointer;

		&:hover,
		&:active {
			.layer {
				box-shadow: inset 0 0 30px 150px rgba($color: $color-black, $alpha: 0.3);
			}
			.btn-container {
				opacity: 1;
			}
		}

		.img {
			width: 100%;
			height: 100%;
			border-radius: $br-basic * 2;
			position: relative;

			.layer {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.85));
				opacity: 0.6;
				@include transition-duration(0.4s);
			}

			.title {
				font-size: 1.125rem;
				font-weight: bold;
				letter-spacing: 1px;
				color: $color-white;
				position: absolute;
				bottom: 12px;
				left: 15px;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}

		.btn-container {
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -40%);
			opacity: 0;
			@include transition-duration(0.4s);

			button {
				font-size: 1rem;
				border-radius: $br-basic;
				border-color: transparent;
				color: #555;
				background-color: $color-white;
				letter-spacing: 1px;
				padding: 3px 8px;
				cursor: pointer;
				@include transform(scale(1));
				@include transition-duration(0.2s);

				&:hover {
					background-color: #24b582;
					color: $color-white;
					opacity: 1;
				}

				&:active {
					@include transform(scale(0.98));
				}
			}

			#go-to-trail {
				margin-bottom: 15px;
			}
		}
	}
}

@media screen and (max-width: 1310px) {
	.create-list {
		.create-item {
			width: calc(21vw);
			height: 12.5vw;
		}
	}
}

@media screen and (max-width: 1024px) {
	.create-list {
		> .wrap {
			flex-direction: row !important;

			.create-item {
				width: calc(30vw);
				height: 20vw;
			}
		}
	}
}

@media screen and (max-width: 715px) {
	.create-list {
		> .wrap {
			.create-item {
				width: calc(40vw);
				height: 27vw;

				img {
					title {
						font-size: 1rem;
					}
				}

				.btn-container {
					#go-to-trail {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.create-list {
		> .wrap {
			.create-item {
				width: calc(80vw);
				height: 50vw;

				.btn-container {
					button {
						font-size: 1.125rem;
					}

					#go-to-trail {
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}
