@import '../../../style/common.css';

#footer {
    margin-top: 60px;
    background-color: #333;
}
#footer .wrap {
    height: 250px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#footer .footer-info {
    width: 100%;
    justify-content: space-around ;
    padding: 50px;
}

.footer-info p {
    font-size: 1rem;
    letter-spacing: 1px;
    color: #ccc;
    text-align: left;
}


.footer-info ul {
    justify-content: flex-start;
}

.footer-info ul li {
    margin: 20px 10px 0 0;
    cursor: pointer;
}

.footer-info ul li a {
    font-size: 0.825rem;
    letter-spacing: 0.6px;
    color: #eee;
}

.footer-info ul li a:hover {
    color: #fff;
}

.footer-info ul li a i {
    font-size: 1.5rem;
}

.footer-copyright {
    display: block;
    font-size: .75rem;
    color: #eee;
    margin-bottom: 30px;
}
