@import '../../../style/common.css';

 #trail-detail__basic-info .wrap, 
 #trail-detail__traffic-info .wrap, 
 #trail-detail__community-info .wrap {
    background-color: #fff;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 25px auto;
 }

h2 {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 30px 0;
}

h2::before {
    content: '';
    display: block;
    width: 4.5px;
    height: 28px;
    background-color: #52cbd4;
    position: absolute;
    top: 0;
    left: -15px;
}

h3 {
    display: inline-block;
    position: relative;
    margin: 30px;
}

h3::before {
    content: '';
    display: block;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent transparent #52cbd4;
    position: absolute;
    top: 3px;
    left: -15px;
}
    

 
