#trail-detail__basic-info .wrap,
#trail-detail__traffic-info .wrap,
#trail-detail__community-info .wrap {
	background-color: $color-white;
	box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.1);
	padding: 10px 30px 20px 30px;
	margin: 25px auto;

	h2 {
		display: inline-block;
		position: relative;
		left: 50%;
		margin: 30px 0;
		@include transform(translateX(-50%));

		&::after {
			content: "";
			display: block;
			width: 100px;
			height: 4px;
			background-color: $color-blue;
			position: absolute;
			bottom: -10px;
			left: 50%;
			@include transform(translateX(-50%));
			padding-bottom: 0.5px;
		}
	}

	h3 {
		display: inline-block;
		position: relative;
		margin: 30px;

		&::after {
			content: "";
			display: block;
			border-style: solid;
			border-width: 8px;
			border-color: transparent transparent transparent $color-blue;
			position: absolute;
			top: 3px;
			left: -15px;
		}
	}
}

@media screen and (max-width: 1300px) {
	#trail-detail__top-info > .wrap,
	#trail-detail__basic-info > .wrap,
	#trail-detail__traffic-info > .wrap,
	#trail-detail__community-info > .wrap {
		width: 90%;
	}
}

@media screen and (max-width: 993px) {
	#trail-detail__top-info,
	#trail-detail__basic-info,
	#trail-detail__traffic-info,
	#trail-detail__community-info {
		margin: 10px 0;
	}

	#trail-detail__top-info > .wrap,
	#trail-detail__basic-info > .wrap,
	#trail-detail__traffic-info > .wrap,
	#trail-detail__community-info > .wrap {
		width: 100%;
		margin: 0;
		box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.07);
	}

	#trail-detail__top-info > .wrap {
		box-shadow: initial;
	}
}

@media screen and (max-width: 416px) {
	#trail-detail__top-info {
		margin-top: 60px !important;
	}

	#trail-detail__top-info > .wrap,
	#trail-detail__basic-info > .wrap,
	#trail-detail__traffic-info > .wrap,
	#trail-detail__community-info > .wrap {
		padding: 10px 0 15px 0;

		h2 {
			margin: 20px 0 10px 0;
			font-size: 1.25rem;
		}
	}

	#trail-detail__basic-info > .wrap {
		h2 {
			margin-bottom: 30px;
		}
	}
}

.trail-detail-loading {
	position: relative;
	width: 100%;
	height: 100vh;

	> .wave-loading-container {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -45%);
	}
}
