#trails-filter {
	margin-top: 60px;
	padding: 50px 0;
	background-color: #fafafa;
}

.filters {
	padding: 15px 30px;
	border: $border-basic;
	border-radius: $br-basic;
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1);
	background-color: $color-white;
}

.filter {
	padding: 18px 0;
}

.filter-title {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	position: relative;
}

.filter-item {
	text-align: center;
	letter-spacing: 0.6px;
	padding: 3px 12px;
	margin-left: 30px;
	border: 1.2px solid transparent;
	border-radius: $br-basic;
	cursor: pointer;
	position: relative;

	&:hover {
		font-weight: 550;
		color: $color-dark-green;
		border: 1.2px solid $color-dark-green;
	}
	input {
		opacity: 0;
		position: absolute;
	}
	&.active {
		font-weight: 550;
		color: $color-dark-green;
		border: 1.2px solid $color-dark-green;
	}
}
