#trail-create {
	margin-top: 60px;
	margin-bottom: 0;
	padding-bottom: 90px;
	background-color: #f9f9f9;

	h2 {
		font-size: 2.25rem;
		color: #555;
		padding: 50px 0;
		text-align: center;
		letter-spacing: 1.2px;
	}

	.wrap {
		width: 65%;
		border-radius: $br-basic;
		box-shadow: 0 0 8px 0.5px rgba(0, 0, 0, 0.1);
		padding: 30px 50px;
		background-color: $color-white;
		position: relative;
	}

	.form-item {
		padding: 20px;
		position: relative;

		&:nth-child(8) {
			padding-bottom: 0;
		}

		p {
			margin: 10px;
		}

		label {
			font-size: 0.9375rem;
			font-weight: bold;
			color: $color-black;
			letter-spacing: 1px;
			margin: 10px 0;
			position: relative;
			display: flex;
			align-items: center;

			> .mark {
				font-size: 1.25rem;
				color: $color-red;
				position: relative;
				padding-left: 5px;
				padding-right: 10px;
			}

			> .alert-word {
				font-size: 14px;
				color: $color-red;
				letter-spacing: 0.6px;
				font-weight: 400;
			}
		}

		input,
		select,
		textarea {
			background-color: transparent;
			display: block;
			padding: 5px 10px;
			border: 1px solid #ddd;
			border-radius: $br-basic;
			color: rgba(0, 0, 0, 0.65);
			line-height: 1.75;
			font-size: 16px;
			font-weight: 400;
			outline: none;
			@include transition-duration(0.2s);
		}

		textarea {
			resize: none;
		}

		input[type="text"] {
			width: 50%;
			min-width: 330px;
		}

		select {
			width: 20%;
			min-width: 120px;
			height: 40px;
			margin-right: 20px;

			.inactive {
				display: none;
			}
		}

		textarea {
			width: 50%;
			min-width: 330px;
			height: 150px;
			position: relative;
		}

		.textarea-wrap {
			position: relative;
			.words-remider {
				font-size: 0.75rem;
				position: absolute;
				bottom: -7px;
				left: 39%;
				background-color: transparent;
				border-radius: $br-basic;
				padding: 5px;
			}
		}

		.reminder {
			text-align: left;
			padding: 10px 20px;
			background-color: #effff5;
			position: absolute;
			left: 50%;
		}

		.reminder-icon {
			font-size: 1.5rem;
			color: $color-green;
			margin-right: 10px;
		}

		.reminder-content span {
			font-weight: 900;
			color: $color-black;
		}

		.upload-img-wrap {
			position: relative;
			min-height: 233.3px;
			justify-content: center;
			text-align: center;
			margin-bottom: 10px;

			.upload-area {
				width: 350px;
				height: 233px;
				background-color: #eee;
				position: absolute;
				top: 0;
				left: 0;
				border: 1.5px solid transparent;
				border-radius: $br-basic;
				cursor: pointer;
				overflow: hidden;
				@include transition-duration(0.2s);

				&:hover {
					border: 1.5px solid $color-green;
				}

				&:active {
					border: 3px solid $color-dark-green;
				}

				.fa-image {
					font-size: 50px;
					position: absolute;
					top: 50%;
					left: 50%;
					@include transform(translate(-50%, -50%));
					z-index: 1;

					p {
						font-size: 18px;
						font-weight: bold;
						color: $color-green;
						padding-right: 15px;

						.fa-plus-circle {
							padding-right: 5px;
						}
					}
				}

				img {
					width: 101%;
					height: 101%;
					margin: -1px;
					z-index: 2;
					outline: none;
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			.upload-img {
				opacity: 0;
				position: absolute;
				top: 50%;
				left: 0;
			}

			.loading-img-wrap {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 100;
				opacity: 0;
				@include transition-duration(0.2s);

				&.active {
					opacity: 1;
				}

				.layer {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background-color: $color-white;
					opacity: 0.85;
				}

				.loading-img {
					width: 100%;
					height: 100%;
					display: inline-block;
					position: absolute;
					top: 0;
					left: 0;
				}

				.loading-img div {
					display: block;
					position: absolute;
					top: 38%;
					left: 47.5%;
					width: 70px;
					height: 70px;
					margin: 8px;
					border: 4px solid $color-green;
					border-radius: 50%;
					animation: loading-img 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
					border-color: $color-green transparent transparent transparent;
				}
				.loading-img div:nth-child(1) {
					animation-delay: -0.45s;
				}
				.loading-img div:nth-child(2) {
					animation-delay: -0.3s;
				}
				.loading-img div:nth-child(3) {
					animation-delay: -0.15s;
				}
				@keyframes loading-img {
					0% {
						transform: translate(-50%, -50%) rotate(0deg);
					}
					100% {
						transform: translate(-50%, -50%) rotate(360deg);
					}
				}

				.loaging-word {
					font-size: 1.25rem;
					font-weight: bold;
					position: absolute;
					color: $color-green;
					left: 51%;
					bottom: 30%;
					@include transform(translateX(-50%));
				}
			}
		}

		.route {
			input {
				width: 115px;
				min-width: 0;
			}

			.fa-long-arrow-alt-right {
				font-size: 1.75rem;
				padding: 10px;
			}

			.fa-mountain {
				font-size: 1.2rem;
				padding: 10px;
			}
		}

		.difficulty-list {
			position: relative;
			justify-content: flex-start;
		}

		.difficulty {
			font-weight: 450;
			text-align: center;
			letter-spacing: 0.6px;
			margin-right: 15px;
			cursor: pointer;
			position: relative;
			@include transition-duration(0.2s);

			&:hover > .radio-mark {
				border: 2px solid $color-green;
			}

			&.active > .radio-mark {
				background-color: $color-green;
				@include transition-duration(0.2s);
				border: none;
			}

			input {
				position: absolute;
				top: 50%;
				left: 50%;
				opacity: 0;
				z-index: -1;
				@include transform(translate(-50%, -50%));
			}

			.radio-mark {
				display: inline-block;
				width: 12px;
				height: 12px;
				border: 1.5px solid $color-light-grey;
				border-radius: 50%;
				margin-right: 5px;
				cursor: pointer;
			}
		}

		.scenery-list {
			min-height: 65px;
			position: relative;
			top: -15px;
		}

		.scenery {
			font-weight: 450;
			flex: auto;
			text-align: center;
			letter-spacing: 0.6px;
			padding: 5px 12px;
			margin-right: 15px;
			border: 1.2px solid $color-light-grey;
			border-radius: $br-basic;
			cursor: pointer;
			position: relative;
			@include transition-duration(0.2s);

			&:hover {
				font-weight: 550;
				padding: 13px 12px;
				color: $color-dark-green;
				border: 1.2px solid $color-dark-green;
			}

			&.active {
				padding: 5px 12px;
				color: white;
				background-color: $color-dark-green;
				border: 1.2px solid transparent;
			}

			input {
				position: absolute;
				top: 50%;
				left: 50%;
				opacity: 0;
				z-index: -1;
				@include transform(translate(-50%, -50%));
			}
		}

		.time,
		.height,
		.length {
			input {
				text-align: center;
				min-width: 80px;
				width: 100px;
			}

			p {
				white-space: nowrap;
			}
		}

		#report {
			height: 120px;
		}
	}

	.mark-word {
		position: absolute;
		right: 20px;
		top: -30px;
		> .mark {
			font-size: 2rem;
			color: $color-red;
			position: absolute;
			top: 0;
			left: -20px;
		}
	}

	.confirm-btns {
		font-size: 1.125rem;
		margin: 30px auto 10px auto;
		text-align: center;

		#clear-all-btn {
			margin-left: 30px;
			background-color: $color-grey;
			opacity: 0.8;
			position: relative;
			cursor: pointer;

			&:hover,
			&:active {
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: 1430px) {
	#trail-create {
		.wrap {
			width: 75%;
		}
	}
}

@media screen and (max-width: 1300px) {
	#trail-create {
		.wrap {
			width: 80%;
		}
	}
}

@media screen and (max-width: 1140px) {
	#trail-create {
		.wrap {
			width: 90%;
			.scenery-list {
				.scenery {
					&:hover {
						padding: 5px 12px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 975px) {
	#trail-create {
		.wrap {
			width: 90%;

			.form-item {
				.upload-img-wrap {
					flex-direction: column;
					align-items: flex-start;

					.upload-area {
						position: relative;
						width: 60vw;
						height: 40vw;
					}
				}

				.reminder {
					position: static;
				}

				input[type="text"],
				textarea {
					width: 100%;
					min-width: 0;
				}

				.length input,
				.time input,
				.height input {
					width: 100px;
				}
			}
		}
	}
}

@media screen and (max-width: 750px) {
	#trail-create {
		.wrap {
			width: 95%;
			padding: 10px 20px;

			.form-item {
				.upload-img-wrap {
					.upload-area {
						position: relative;
						width: 100%;
						height: 50vw;

						p {
							font-size: 0.875rem;
						}
					}
				}

				.reminder {
					position: static;
				}

				input[type="text"],
				textarea {
					width: 100%;
					min-width: 0;
				}

				.length input,
				.time input,
				.height input {
					width: 100px;
				}
			}
		}
	}
}

@media screen and (max-width: 655px) {
	#trail-create {
		.wrap {
			.form-item {
				.scenery-list {
					flex-wrap: wrap;

					.scenery {
						white-space: nowrap;
						flex: none;
						margin-bottom: 0;
						margin-right: 10px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 595px) {
	#trail-create {
		.wrap {
			.form-item {
				.area {
					flex-direction: column;
					align-items: flex-start;

					select {
						margin-bottom: 6px;
						min-width: 100%;
					}
				}
				.route {
					flex-direction: column;
					align-items: flex-start;

					> div {
						width: 100%;
						margin-bottom: 6px;
					}

					select {
						width: 100%;
						margin-right: 0;
					}

					.fas {
						display: none;
					}
				}

				.time,
				.height,
				.length {
					p {
						font-size: 0.875rem;
					}
				}
			}

			.reminder {
				padding: 5px 10px;
				.reminder-icon {
					.fas {
						display: none;
					}
				}

				.reminder-content {
					p {
						font-size: 0.875rem;
						line-height: 1.2;
					}
				}
			}
		}
	}
}

.loading-page-wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	display: none;

	&.active {
		display: block;
	}

	> .layer {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: $color-white;
		opacity: 0.3;
	}

	.loading-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		.fas {
			font-size: 100px;
			color: $color-green;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(1);
			-webkit-transform: translate(-50%, -50%) scale(1);

			&.m-smail {
				animation: smail-loading 1.4s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
			}

			&.m-big {
				opacity: 0.2;
				animation: big-loading 1.4s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
			}
		}

		@keyframes big-loading {
			0% {
				transform: dtranslate(-50%, -55%) scale(1.15);
			}
			5% {
				transform: translate(-50%, -55%) scale(1);
			}
			39% {
				transform: translate(-50%, -55%) scale(1.25);
			}
			45% {
				transform: translate(-50%, -55%) scale(1.15);
			}
			60% {
				transform: translate(-50%, -55%) scale(1.2);
			}
			100% {
				transform: translate(-50%, -55%) scale(1.25);
			}
		}

		@keyframes smail-loading {
			0% {
				transform: dtranslate(-50%, -50%) scale(1);
			}
			5% {
				transform: translate(-50%, -50%) scale(1.1);
			}
			39% {
				transform: translate(-50%, -50%) scale(0.9);
			}
			45% {
				transform: translate(-50%, -50%) scale(1);
			}
			60% {
				transform: translate(-50%, -50%) scale(0.95);
			}
			100% {
				transform: translate(-50%, -50%) scale(0.9);
			}
		}
	}
}
