.route-content {
	align-items: flex-start;

	.start-and-end {
		flex: none;
		font-size: 1rem;
		letter-spacing: 0.6px;
		flex-direction: column;
		margin-left: 35px;
		align-items: flex-start;

		div {
			margin-bottom: 15px;
		}

		p {
			padding: 0 10px;
		}

		img {
			margin-right: 5px;
			width: 25px;
			height: 25px;
		}

		span {
			font-size: 1.125rem;
			font-weight: bold;
		}

		.basic-btn {
			margin-top: 10px;

			a {
				color: $color-white;
			}
		}
	}

	.route-map {
		flex: auto;
		margin: 0px 50px;
		border-radius: $br-basic;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.upload-route-img-wrap {
	width: 300px;
	height: 200px;
	margin-left: 60px;
	position: relative;

	.upload-route-img {
		width: 100%;
		height: 100%;
		display: block;
		background-color: #eee;
		position: absolute;
		top: 0;
		left: 0;
		border: 1.5px solid transparent;
		border-radius: $br-basic;
		text-align: center;
		cursor: pointer;
		overflow: hidden;
		transition-duration: 0.2s;

		&:hover {
			border: 1.5px solid $color-green;
		}

		&:active {
			border: 2px solid $color-dark-green;
		}

		.fa-image {
			font-size: 50px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;

			p {
				font-size: 1rem;
				font-weight: bold;
				color: $color-green;
				padding-right: 15px;
				padding-top: 10px;

				.fa-plus-circle {
					padding-right: 5px;
				}
			}
		}

		> input {
			opacity: 0;
		}
	}
}

@media screen and (max-width: 768px) {
	.route-content {
		flex-direction: column;

		.start-and-end {
			margin-bottom: 20px;
		}
	}
}
